<%= form_for(event) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :datetime %>
    <%= f.datetime_local_field :datetime, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :venue %>
    <%= f.text_field :venue, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :vip_price %>
    <%= f.number_field :vip_price, class: 'form-control', step: '0.01', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :regular_price %>
    <%= f.number_field :regular_price, class: 'form-control', step: '0.01', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :available_slot %>
    <%= f.number_field :available_slot, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <label>
      Tag(s)
    </label>
    <!-- Hidden field to store the validated hashes -->
    <%= f.text_field :hashes, disabled: true, hidden: true %>
    <div class="tags-input"> 
        <ul id="tags"></ul> 
        <input type="text" id="input-tag", class='form-control' 
            placeholder="Add a tag" /> 
    </div> 
  </div>

  <div class="form-group pt-2">
    <%= f.submit 'Save', class: 'btn btn-primary w-100' %>
  </div>
<% end %>

<script>
  // Get the tags and input elements from the DOM
  const tags = document.getElementById('tags');
  const input = document.getElementById('input-tag');
  const hiddenHashesField = document.querySelector('input[name="event[hashes]"]');

  // Initialize an array to store tags
  const tagArray = [];

  // Add an event listener for keydown on the input element
  input.addEventListener('keydown', function (event) {

    // Check if the key pressed is 'Enter'
    if (event.key === 'Enter') {

      // Prevent the default action of the keypress event (submitting the form)
      event.preventDefault();

      // Get the tag value from the input and trim whitespace
      const tagValue = input.value.trim();

      // Check if the tag is not empty and is not already in the array
      if (tagValue && !tagArray.includes(tagValue)) {

        // Add the tag to the array
        tagArray.push(tagValue);

        // Create a new list item element for the tag
        const tag = document.createElement('li');

        // Set the text content of the tag to the input value
        tag.innerText = tagValue;

        // Append the tag to the tags list
        tags.appendChild(tag);

        // Update the hidden hashes field with the comma-separated tags
        hiddenHashesField.value = tagArray.join(',');
      }

      // Clear the input element's value
      input.value = '';
    }
  });
</script>
