<div class="">
  <div class="row mb-4 text-end justify-content-end bg-primary p-2">
    <%= link_to 'Most Recent', root_path(sort: 'recent'), class: 'text-decoration-none text-light mw-100' %>
    <%= link_to 'Most Ancient', root_path(sort: 'ancient'), class: 'text-decoration-none text-light mw-100' %>
  </div>

  <div class="row gap-2 justify-content-center p-3 pt-0 mt-0 pb-5">
    <% @events.each do |event| %>
      <div class="col-md-12 card p-0">
        <%= link_to event_bookings_path(event), class: 'text-decoration-none text-secondary' do %>
          <div class="d-flex">
            <div class="col-3 col-md-1">
              <img src=<%= event.icon %> class='img-tumbnail'>
            </div>
            <div class="col-6 col-md-8">
              <div class="col-12">
                <%= event.name %>
              </div>
              <div class="col-12 mt-4">
                <%= event.created_at.strftime('%b %d %Y') %>
              </div>
            </div>
            <div class="col-3">
              <% sum = @event_booking_sums[event.id] || 0 %>
              <p class='text-bold text-dark text-end pe-1'><%= number_to_currency(sum, unit: "$") %></p>
            </div>
          </div>
          <div class="p-1">
            <%= form_with(model: event, url: event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'd-flex gap-2 justify-content-end') do |form| %>
              <%= link_to edit_event_path(event), class: 'btn btn-sm btn-primary mr-2' do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= form.button type: 'submit', class: 'btn btn-danger btn-sm' do %>
                <i class="fa fa-trash"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  
  <div class="bottom-element w-100">
    <%= link_to "Add Event", new_event_path(), class: "btn btn-success w-100" %>
  </div>
